.add-ruta{
    height: 50px;
    width: 50px;
    margin-left: 403px;
    margin-top: -50px;
    /* color: #4ea852; */
}

.add-ruta .icon{

    font-size: 34px;
    margin-top: 7px;
}

.icon:hover{
    color:#00ff0b;
}

.btn.btn-primary {
    color: #fff;
    background-color: #eb3037;
    border-color: #eb3037;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.col-form-label {
    padding-top: calc(0.4375rem + 1px);
    padding-bottom: calc(0.4375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    margin-left: 0.6rem;

  }

  .iconForward{
    position:absolute;
    top:52px;
    right:18px;
    font-size: 1rem;
  }

  .iconForward a {
    color: #fff;
}

.iconForward a:hover {
    color: crimson;
   
}

.iconForward i {
      font-size: 3rem;
}

.iconNote_add{
    line-height: 30px;
}
